footer {
  background-color: white;
  padding: 6.2rem 0;
}

.footer-div {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2.2rem;
  background-color: white;
}

.footer-text-div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 55rem;
}

.footer-text-name {
  font-size: 2rem;
  color: #20274a;
  font-weight: 900;
}

.footer-text {
  font-size: 1.4rem;
  color: #20274ac0;
  line-height: 1.7;
}

.contact-main-div-footer {
  position: static;
  display: flex;
  flex-direction: column;
  display: none;
}

.contact-footer-text {
  color: #20274a;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0.8rem;
}

.contact-div-footer {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.contact-div-footer-text {
  font-size: 1.4rem;
  color: #20274a;
}

.socials-main-div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.socials-text {
  color: #20274a;
  font-size: 2rem;
  font-weight: 900;
}

.socials-div {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.socials-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #20274a;
  cursor: pointer;
  transition: all 0.3s;
}

.socials-icon:hover svg {
  fill: #e63355;
}

.footer-line {
  width: 90%;
  margin: 0 auto;
  height: 0.05rem;
  background-color: #20274a54;
  margin-top: 6rem;
}

.footer-copyright-div {
  margin-top: 3rem;
}

.footer-copyright-div p {
  color: #20274a;
  text-align: center;
  font-size: 1.1rem;
}
