.projects-section {
  background-color: #535370;
  width: 100%;
  padding-top: 20rem;
  padding-bottom: 9.6rem;
}

.projects-section-main-div {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
}

.projects-h2 {
  font-size: 3.6rem;
  color: white;
  font-family: "Noto Serif", serif;
}

.projects-grid {
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.2rem;
  row-gap: 4.2rem;
}

.projects-grid-item {
  display: flex;
  margin-top: 2.2rem;
  gap: 2.2rem;
  padding: 2.6rem;
  cursor: pointer;
  transition: all 1s;
  border-radius: 10px;
  border-top: 2px solid #535370;
  opacity: 0;
}

.projects-grid-item-position-1 {
  transform: translateX(-150%);
}

.projects-grid-item-position-2 {
  transform: translateX(150%);
}

.projects-grid-item-final-position {
  opacity: 1;
  transform: translateX(0);
}

.projects-grid-item::after {
  content: "";
  background-color: #5353709e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s;
}

.projects-grid-item.not-hovered::after {
  opacity: 1; /* Show when not hovered */
}

.projects-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: fit-content;
  max-width: 15rem;
  border-radius: 5px;
  border: 2px solid #87879b;
  transition: all 0.3s;
}

.projects-img {
  width: 100%;
  transition: all 0.3s;
}

.projects-text-div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.projects-title-div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.projects-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  transition: all 0.3s;
}

.arrows-up-icon svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: white;
  transition: all 0.3s;
}

.projects-description {
  font-size: 1.4rem;
  color: rgb(196, 196, 196);
  line-height: 1.5;
  transition: all 0.3s;
}

.projects-languages-div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.projects-languages-text {
  font-size: 1.2rem;
  color: #ff355e;
  padding: 0.6rem 1.2rem;
  border-radius: 15px;
  background-color: #401b226e;
}

.projects-languages-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #ff355e;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 2;
}

.projects-languages-icon:hover {
  fill: #6e5494;
}

.projects-grid-item:hover {
  background-color: #464658;
  border-top: 2px solid #6b6b79;
}

.projects-grid-item:hover .projects-img {
  transform: scale(1.05);
}

.projects-grid-item:hover .projects-img-div {
  border: 2px solid #b5b7c1;
}

.projects-grid-item:hover .projects-title {
  color: #ff355e;
}

.projects-grid-item:hover .arrows-up-icon svg {
  transform: translate(0.5rem, -0.5rem);
  fill: #ff355e;
}
