.resume-section {
  position: relative;
}

/*-----------------------------
--------- 1st INNER DIV ---------
------------------------------*/

.resume-inner-div {
  max-width: 120rem;
  margin: 0 auto;
}

.resume-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.resume-column {
  display: flex;
  flex-direction: column;
  padding: 3.6rem;
  position: relative;
}

/*-----------------------------
--------- LEFT COLUMN ---------
------------------------------*/

.resume-education-div {
  display: flex;
  flex-direction: column;
}

.resume-education-text-div {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.2rem;
}

.resume-bullet-point {
  height: 2rem;
  width: 2rem;
}

.resume-education-date {
  font-size: 1.6rem;
  font-weight: 700;
  color: #20274a;
}

.resume-education-text-inner-div {
  display: flex;
  flex-direction: column;
}

.resume-education-institution-p {
  font-size: 1.4rem;
  color: #20274a;
}

/*-----------------------------
--------- RIGHT COLUMN ---------
------------------------------*/

.resume-title-div {
  margin-top: -7rem;
  align-self: flex-end;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}

.resume-title-p {
  font-size: 6.4rem;
  color: transparent;
  -webkit-text-stroke: 1px #4f61b9; /* For Webkit browsers like Chrome and Safari */
  transition: all 0.8s;
  opacity: 0;
}

.resume-title-p-in-view {
  opacity: 1;
}

.resume-title-p-position-1 {
  transform: translateY(-5.7rem);
  opacity: 0;
}

.resume-title-p-position-2 {
  transform: translateY(-11.7rem);
  opacity: 0;
}

.position-1-visible {
  transform: translateY(0rem);
  opacity: 1;
}

.position-2-visible {
  transform: translateY(0rem);
  opacity: 1;
}

.skills-main-div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.skills-div {
  display: flex;
  gap: 10rem;
}

.skills-inner-div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.code-languages-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.code-language-icon {
  width: 3.6rem;
  height: 3.6rem;
}

.html-icon {
  width: 3.1rem;
  height: 3.1rem;
}

.skills-writen-div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.8rem;
}

.skills-writen-inner-div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.skills-writen-p {
  background-color: #20274a;
  padding: 0.8rem 2.2rem;
  border-radius: 10px;
  color: white;
}

/*-----------------------------
--------- 2nd INNER DIV ---------
------------------------------*/

.resume-inner-div-2 {
  background-color: #20274a;
}

/*-----------------------------
--------- LEFT COLUMN ---------
------------------------------*/

.education-img-div {
  position: absolute;
  top: -21.3rem;
  left: 0;
  width: 10rem;
  z-index: 0;
}

.education-img {
  width: 100%;
}

.certificates-box {
  position: absolute;
  top: -12rem;
  left: 0;
  padding: 3.6rem;
  background-color: #e63355;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.certificates-main-div {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.certificates-div {
  display: flex;
  gap: 2.2rem;
}

.certificates-inner-div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  cursor: pointer;
  max-width: 20rem;
}

.certificate-link {
  font-size: 1.2rem;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
}

.certificates-inner-div:hover .certificate-link {
  color: #20274a;
}

.certificates-inner-div p {
  color: rgba(233, 233, 233, 0.769);
  transition: all 0.3s;
}

.certificates-inner-div:hover p {
  color: white;
}

.contact-main-div {
  position: absolute;
  bottom: 5.5rem;
  left: 0;
  padding: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contact-div-text {
  font-size: 1.4rem;
  color: white;
}

.contact-div-text span {
  font-weight: 900;
}

/*-----------------------------
--------- RIGHT COLUMN ---------
------------------------------*/

.resume-column-2 {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.language-main-div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.language-div {
  display: flex;
  align-items: center;
  gap: 5.2rem;
}

.language-inner-div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.language-inner-div p {
  color: white;
}

.hobbies-main-div {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.hobbies-div {
  display: flex;
  gap: 4.2rem;
}

.hobbies-inner-div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  opacity: 0;
  transition: all 0.8s;
}

.hobbies-inner-div-2 {
  transform: translateX(-11rem);
}

.hobbies-inner-div-3 {
  transform: translateX(-21rem);
}

.hobbies-inner-div-4 {
  transform: translateX(-34rem);
}

.hobbies-inner-div-final {
  transform: translateX(0rem);
  opacity: 1;
}

.hobbies-icon {
  width: 6rem;
  height: 6rem;
}

.hobbies-beer-icon {
  width: 5.6rem;
  height: 5.6rem;
  margin-bottom: 0.4rem;
}

.hobbies-inner-div p {
  color: white;
  text-align: center;
}

.custom-shape-divider-bottom-1704891408 {
  position: absolute;
  bottom: -15rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704891408 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704891408 .shape-fill {
  fill: #20274a;
}
