* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading-secondary {
  color: #4f61b9;
  font-size: 2.4rem;
  font-family: "Noto Serif", serif;
  font-style: italic;
}

.heading-terciary {
  font-size: 1.2rem;
  color: #20274a;
}

.heading-secondary-white {
  color: white;
}

.heading-terciary-white {
  color: white;
}
