* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading-secondary {
  color: #4f61b9;
  font-size: 2.4rem;
  font-family: "Noto Serif", serif;
  font-style: italic;
}

.heading-terciary {
  font-size: 1.4rem;
  color: #20274a;
  font-weight: 900;
}

.heading-secondary-white {
  color: white;
}

.heading-terciary-white {
  color: white;
}

.scroll-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  width: 4rem;
  gap: 1.2rem;
}

.scroll-shape-div {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-losange {
  height: 0.7rem;
  width: 0.7rem;
  background-color: #e63355;
  border: 2px solid #e63355;
  transform: rotate(45deg);
  cursor: pointer;
  transition: all 0.3s;
}

.scroll-losange:hover {
  background-color: transparent;
  border: 2px solid #e63355;
  background-color: transparent;
  height: 1.2rem;
  width: 1.2rem;
  transform: rotate(0deg);
}
